{
    "openapi": "3.0.1",
    "info": {
        "title": "Harry",
        "description": "Harry internal APIs",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.okq8.se/harry/v1"
        }
    ],
    "paths": {
        "/DELETE_ROW": {
            "delete": {
                "summary": "DeleteRow",
                "description": "DeleteRow",
                "operationId": "delete-deleterow",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteRow_Request"
                            },
                            "example": {
                                "i_n_loadid": "string",
                                "i_n_orderno": "string",
                                "i_n_orderrow": "string",
                                "i_n_orderno_ext_ref": "string",
                                "i_n_orderrow_ext_ref": "string",
                                "i_n_loadid_ext_ref": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Generic_Response"
                                },
                                "example": {
                                    "o_v_message": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/REPORT_STATUS": {
            "put": {
                "summary": "ReportStatus",
                "description": "ReportStatus",
                "operationId": "put-reportstatus",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReportStatus_Request"
                            },
                            "example": {
                                "i_n_delpoint": "string",
                                "i_n_orderno": "string",
                                "i_n_orderrow": "string",
                                "i_n_orderno_ext_ref": "string",
                                "i_n_orderrow_ext_ref": "string",
                                "i_d_eta": "string",
                                "i_n_prodno": "string",
                                "i_n_qty": "string",
                                "i_n_status": "string",
                                "i_n_reason_code": "string",
                                "i_v_reason_text": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Generic_Response"
                                },
                                "example": {
                                    "o_v_message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": ""
                    }
                }
            }
        },
        "/GET_TRAILERS": {
            "get": {
                "summary": "GetTrailers",
                "description": "GetTrailers",
                "operationId": "get-gettrailers",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTrailers_Response"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "bil": 1960,
                                            "loc": 2610,
                                            "biltyp": "S",
                                            "bilregnr": "CLJ530",
                                            "antalfack": 5,
                                            "volym1": 8000,
                                            "begrbenvol1": 8000,
                                            "begrovrvol1": 8000,
                                            "volym2": 12000,
                                            "begrbenvol2": 12000,
                                            "begrovrvol2": 12000,
                                            "volym3": 6000,
                                            "begrbenvol3": 4000,
                                            "begrovrvol3": 1300,
                                            "volym4": 6000,
                                            "begrbenvol4": 6000,
                                            "begrovrvol4": 6000,
                                            "volym5": 6000,
                                            "begrbenvol5": 6000,
                                            "begrovrvol5": 6000,
                                            "bilagare": "L",
                                            "fysisk_loc": 2611,
                                            "userid": "INEN",
                                            "last_update": "2016-03-21T14:08:47.0000000+00:00",
                                            "pump_finns": "N",
                                            "antal_matare": 1,
                                            "samlastar": "N",
                                            "samlastar_etanol": "N",
                                            "skicka_t_top": "J",
                                            "maxlast": 29180,
                                            "akarid": 205,
                                            "prio1": 1,
                                            "prio2": 3,
                                            "prio3": 5,
                                            "prio4": 4,
                                            "prio5": 2
                                        },
                                        {
                                            "bil": 1962,
                                            "loc": 2410,
                                            "biltyp": "S",
                                            "bilregnr": "TSM520",
                                            "antalfack": 5,
                                            "volym1": 9000,
                                            "volym2": 7000,
                                            "volym3": 6000,
                                            "volym4": 7000,
                                            "volym5": 9000,
                                            "bilagare": "L",
                                            "fysisk_loc": 2415,
                                            "userid": "JATM",
                                            "last_update": "2019-02-28T13:02:32.0000000+00:00",
                                            "pump_finns": "N",
                                            "antal_matare": 1,
                                            "samlastar": "N",
                                            "samlastar_etanol": "N",
                                            "skicka_t_top": "J",
                                            "maxlast": 27720,
                                            "akarid": 205,
                                            "prio1": 1,
                                            "prio2": 3,
                                            "prio3": 5,
                                            "prio4": 4,
                                            "prio5": 2
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/GET_TRUCKS": {
            "get": {
                "summary": "GetTrucks",
                "description": "GetTrucks",
                "operationId": "get-gettrucks",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTruck_Response"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "bil": 1902,
                                            "loc": 2410,
                                            "biltyp": "B",
                                            "slapnr": 1972,
                                            "bilregnr": "RGT520",
                                            "antalfack": 3,
                                            "volym1": 7000,
                                            "volym2": 6000,
                                            "volym3": 7000,
                                            "bilagare": "L",
                                            "fysisk_loc": 2415,
                                            "userid": "DOLO",
                                            "last_update": "2019-12-20T11:43:02.0000000+00:00",
                                            "pump_finns": "J",
                                            "antal_matare": 2,
                                            "samlastar": "N",
                                            "samlastar_etanol": "N",
                                            "skicka_t_top": "J",
                                            "maxlast": 15560,
                                            "akarid": 205,
                                            "prio1": 1,
                                            "prio2": 3,
                                            "prio3": 2
                                        },
                                        {
                                            "bil": 1903,
                                            "loc": 2610,
                                            "biltyp": "B",
                                            "bilregnr": "CDT410",
                                            "antalfack": 6,
                                            "volym1": 3700,
                                            "volym2": 13000,
                                            "volym3": 6000,
                                            "volym4": 10000,
                                            "volym5": 6500,
                                            "volym6": 14000,
                                            "bilagare": "L",
                                            "fysisk_loc": 2611,
                                            "userid": "INEN",
                                            "last_update": "2016-11-09T12:02:36.0000000+00:00",
                                            "pump_finns": "J",
                                            "antal_matare": 2,
                                            "samlastar": "N",
                                            "samlastar_etanol": "N",
                                            "skicka_t_top": "J",
                                            "maxlast": 37920,
                                            "akarid": 205,
                                            "prio1": 1,
                                            "prio2": 3,
                                            "prio3": 5,
                                            "prio4": 6,
                                            "prio5": 4,
                                            "prio6": 2
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/CANCEL_LOAD": {
            "delete": {
                "summary": "CancelLoad",
                "description": "CancelLoad",
                "operationId": "delete-cancelload",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CancelLoad_Request"
                            },
                            "example": {
                                "i_n_loadid": "string",
                                "i_n_loadid_ext_ref": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Generic_Response"
                                },
                                "example": {
                                    "message": "string"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/GET_ORDERROWS": {
            "get": {
                "summary": "GetOrderRows",
                "description": "GetOrderRows",
                "operationId": "get-getorderrows",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderRow_Response"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "orderno": 95898842,
                                            "name": "BEFOX",
                                            "street": "STATIONSGATAN 31",
                                            "city": "HALMSTAD",
                                            "zipcode": "30250",
                                            "country": "SE",
                                            "phone": "0705-141456",
                                            "del_instr1": "KOD TILL TANKEN ÄR 9845. TODOKOPPLING 2-TUMS.",
                                            "del_instr2": "SE VÄGBESKRIVNING FÖR LEV-INSTRUKTION.",
                                            "route": "Efter lev ska man ange volym och tanknummer i kundens dator som finns sidan om intaget. Man använder nyckeln som finns vid intaget och placerar den på datorn. Ange tankens nummer (Diesel färg tank 1) och tryck enter. Skriv in levererad volym och tryck enter.",
                                            "plan_deldate": "2021-01-11T00:00:00.0000000+00:00",
                                            "plan_deldate2": "2021-01-15T00:00:00.0000000+00:00",
                                            "orderrow": 1,
                                            "prodno": 219932,
                                            "articlename": "DIESEL MK I FÄRGAD",
                                            "qty": 4000,
                                            "qty_unit": 0,
                                            "prod": "DF1",
                                            "delpoint": 1003000773,
                                            "tank_no": 1,
                                            "akarid": 205,
                                            "zone": 28,
                                            "line_reason": "N",
                                            "tank_capacity": 9800
                                        },
                                        {
                                            "orderno": 95898841,
                                            "name": "BERTSHULTS BYGG & TRÄ AB",
                                            "street": "BERTSHULT 120",
                                            "city": "LANDVETTER",
                                            "zipcode": "43893",
                                            "country": "SE",
                                            "latitude": 57.62785,
                                            "longitude": 12.32612,
                                            "phone": "0708-202614",
                                            "del_instr1": "SE VÄGBESK",
                                            "route": "I LANDVETTER ÖSTRA SVÄNGER MAN AV, HÖG, ÅK 9 KM,I T-KORS TA VÄNSTER.ÅK 3,2 KM. VID BUSSHÅLLSPLATS BERTSHULT NORRA SVÄNGER MAN IN.",
                                            "plan_deldate": "2021-01-11T00:00:00.0000000+00:00",
                                            "plan_deldate2": "2021-01-15T00:00:00.0000000+00:00",
                                            "orderrow": 1,
                                            "prodno": 220101,
                                            "articlename": "GoEasy DIESEL",
                                            "qty": 4000,
                                            "qty_unit": 0,
                                            "prod": "DBBIO+ P",
                                            "delpoint": 1000798726,
                                            "tank_no": 1,
                                            "akarid": 205,
                                            "zone": 25,
                                            "line_reason": "N",
                                            "tank_capacity": 5000
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/IMPORT_DEFLECTION": {
            "put": {
                "summary": "ImportDeflection",
                "description": "ImportDeflection",
                "operationId": "put-importdeflection",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ImportDeflection_Request"
                            },
                            "example": {
                                "i_n_delpoint": "string",
                                "i_d_delivery_date": "string",
                                "i_v_descr": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Generic_Response"
                                },
                                "example": {
                                    "o_v_message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/IMPORT_DELIVERYRESULT": {
            "put": {
                "summary": "ImportDeliveryResult",
                "description": "ImportDeliveryResult",
                "operationId": "put-importdeliveryresult",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ImportDeliveryResult_Request"
                            },
                            "example": {
                                "i_n_OrderNumber": "string",
                                "i_n_OrderRow": "string",
                                "i_n_StockProductNumber": "string",
                                "i_n_DeliveredQuantity": "string",
                                "i_v_OverflowIn": "string",
                                "i_n_Location": "string",
                                "i_d_DeliveryDate": "string",
                                "i_n_CustomerNumber": "string",
                                "i_n_TruckNumber": "string",
                                "i_n_TourNumber": "string",
                                "i_n_ShipmentNumber": "string",
                                "i_n_NewShipmentNumber": "string",
                                "i_d_DeliveredDate": "string",
                                "i_n_Quantity": "string",
                                "i_v_NewOrder": "string",
                                "i_v_OrderType": "string",
                                "i_v_ProductType": "string",
                                "i_n_Latitude": "string",
                                "i_n_Longitude": "string",
                                "i_v_OrderStatus": "string",
                                "i_v_TankNumber": "string",
                                "i_v_LocationType": "string",
                                "i_n_orderno_ext_ref": "string",
                                "i_n_orderrow_ext_ref": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Generic_Response"
                                },
                                "example": {
                                    "o_v_message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/GET_LOADDATA": {
            "get": {
                "summary": "GetLoadData",
                "description": "GetLoadData",
                "operationId": "get-getloaddata",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetLoadData_Response"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 3895,
                                            "v_qty": 3892,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:18:00.0000000+00:00",
                                            "temp": 14.5,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 5782,
                                            "v_qty": 5793,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:22:00.0000000+00:00",
                                            "temp": 16.6,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 5180,
                                            "v_qty": 5192,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:27:00.0000000+00:00",
                                            "temp": 16.9,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 6890,
                                            "v_qty": 6894,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:21:00.0000000+00:00",
                                            "temp": 15.4,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 6874,
                                            "v_qty": 6892,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:26:00.0000000+00:00",
                                            "temp": 17.1,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 8770,
                                            "v_qty": 8792,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:33:00.0000000+00:00",
                                            "temp": 17.1,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 6873,
                                            "v_qty": 6892,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:28:00.0000000+00:00",
                                            "temp": 17.3,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 6885,
                                            "v_qty": 6892,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T00:22:00.0000000+00:00",
                                            "temp": 15.8,
                                            "trip": "3006"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 220228,
                                            "n_qty": 3883,
                                            "v_qty": 3899,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:22:00.0000000+00:00",
                                            "temp": 18.7,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 220228,
                                            "n_qty": 5771,
                                            "v_qty": 5797,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:30:00.0000000+00:00",
                                            "temp": 18.9,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 220228,
                                            "n_qty": 5174,
                                            "v_qty": 5197,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:35:00.0000000+00:00",
                                            "temp": 18.8,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 220228,
                                            "n_qty": 6864,
                                            "v_qty": 6895,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:32:00.0000000+00:00",
                                            "temp": 18.9,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 6896,
                                            "v_qty": 6899,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:24:00.0000000+00:00",
                                            "temp": 15.3,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 220228,
                                            "n_qty": 8857,
                                            "v_qty": 8896,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:25:00.0000000+00:00",
                                            "temp": 18.8,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 4991,
                                            "v_qty": 5000,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:29:00.0000000+00:00",
                                            "temp": 16.5,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1918",
                                            "prodno": 200163,
                                            "n_qty": 6897,
                                            "v_qty": 6901,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:24:00.0000000+00:00",
                                            "temp": 15.4,
                                            "trip": "1001"
                                        },
                                        {
                                            "loc": 2131,
                                            "truck": "1956",
                                            "prodno": 200163,
                                            "n_qty": 4915,
                                            "v_qty": 4901,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:30:00.0000000+00:00",
                                            "temp": 12.6,
                                            "trip": "0001"
                                        },
                                        {
                                            "loc": 2131,
                                            "truck": "1956",
                                            "prodno": 200163,
                                            "n_qty": 1105,
                                            "v_qty": 1102,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:32:00.0000000+00:00",
                                            "temp": 12.8,
                                            "trip": "0001"
                                        },
                                        {
                                            "loc": 2131,
                                            "truck": "1956",
                                            "prodno": 220250,
                                            "n_qty": 3994,
                                            "v_qty": 3999,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:31:00.0000000+00:00",
                                            "temp": 16.9,
                                            "trip": "0001"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 9956,
                                            "v_qty": 9998,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:53:00.0000000+00:00",
                                            "temp": 18.5,
                                            "trip": "0104"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 13953,
                                            "v_qty": 13997,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:45:00.0000000+00:00",
                                            "temp": 15.8,
                                            "trip": "0104"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 2984,
                                            "v_qty": 2997,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:50:00.0000000+00:00",
                                            "temp": 18.5,
                                            "trip": "0104"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 9962,
                                            "v_qty": 9996,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:46:00.0000000+00:00",
                                            "temp": 16.2,
                                            "trip": "0104"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 200163,
                                            "n_qty": 14020,
                                            "v_qty": 13997,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T08:46:00.0000000+00:00",
                                            "temp": 13.7,
                                            "trip": "0104"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 11946,
                                            "v_qty": 11992,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:20:00.0000000+00:00",
                                            "temp": 18.1,
                                            "trip": "0101"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 13928,
                                            "v_qty": 13993,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:30:00.0000000+00:00",
                                            "temp": 18.9,
                                            "trip": "0101"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 9951,
                                            "v_qty": 9997,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:27:00.0000000+00:00",
                                            "temp": 18.9,
                                            "trip": "0101"
                                        },
                                        {
                                            "loc": 2415,
                                            "truck": "1922",
                                            "prodno": 220228,
                                            "n_qty": 13943,
                                            "v_qty": 13997,
                                            "del_date": "2020-10-01T00:00:00.0000000+00:00",
                                            "del_time": "2021-02-25T05:20:00.0000000+00:00",
                                            "temp": 18,
                                            "trip": "0101"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CREATE_LOAD": {
            "put": {
                "summary": "CreateLoad",
                "description": "CreateLoad",
                "operationId": "put-createload",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateLoad_Request"
                            },
                            "example": {
                                "i_n_truck": "string",
                                "i_n_trailer": "string",
                                "i_d_del_date": "string",
                                "i_n_loc": "string",
                                "i_n_loadid_ext_ref": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateLoad_Response"
                                },
                                "example": {
                                    "o_n_loadid": "string",
                                    "o_n_loadno": "string",
                                    "o_v_message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/GET_TANKS": {
            "get": {
                "summary": "GetTanks",
                "description": "GetTanks",
                "operationId": "get-gettanks",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetTanks_Response"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "stnno": 7617,
                                            "delpoint": 7617,
                                            "name": "MOLSLINJEN A/S",
                                            "street": "HAMNTORGET/ÖSTRA HAMNEN",
                                            "phone": "+46 70 9477191 MATS",
                                            "city": "YSTAD",
                                            "zipcode": "27139",
                                            "longitude": 13.8261,
                                            "latitude": 55.42656,
                                            "tank_no": 1,
                                            "prodno": 236010,
                                            "security_vol": 12000,
                                            "latest_level": 40438,
                                            "latest_level_dat": "2021-02-25T00:00:00.0000000+00:00",
                                            "forecast": 24.13,
                                            "akarid": 205,
                                            "latest_leveltime": "2021-02-25T06:08:00.0000000+00:00",
                                            "latest_stock": 40438,
                                            "tank_volume": 54000,
                                            "zone": 34,
                                            "del_instr1": "OBS: LEV DAGTID",
                                            "del_instr2": "SITEINFO - LAGERÖVERFÖRING",
                                            "block_code": "N",
                                            "pejling": " ",
                                            "tank_prod": "GO10F LS",
                                            "max_volume": 42000
                                        },
                                        {
                                            "stnno": 337978,
                                            "delpoint": 300003,
                                            "name": "OKQ8 TIBRO (AUT)",
                                            "street": "VÄRDSHUSGATAN 2",
                                            "phone": "070-8434441",
                                            "city": "TIBRO",
                                            "zipcode": "54351",
                                            "longitude": 14.14571,
                                            "latitude": 58.42976,
                                            "tank_no": 2,
                                            "prodno": 210199,
                                            "security_vol": 1800,
                                            "latest_level": 4400,
                                            "latest_level_dat": "2021-02-25T00:00:00.0000000+00:00",
                                            "forecast": 1.20079714576962,
                                            "akarid": 205,
                                            "latest_leveltime": "2021-02-25T06:14:00.0000000+00:00",
                                            "latest_stock": 4400,
                                            "tank_volume": 16400,
                                            "zone": 27,
                                            "block_code": "N",
                                            "pejling": " ",
                                            "tank_prod": "BE95MK1",
                                            "plant": "37978",
                                            "max_volume": 14600
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/GET_LOCATION": {
            "get": {
                "summary": "GetLocation",
                "description": "GetLocation",
                "operationId": "get-getlocations",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetLocations_Response"
                                },
                                "example": {
                                    "items": [
                                        {
                                            "loc": 2225,
                                            "locname": "GÄVLE MELLANDEPÅ",
                                            "akarid": 204
                                        },
                                        {
                                            "loc": 2211,
                                            "locname": "VÄSTERÅS CISTERNDEPÅ",
                                            "akarid": 204
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/ADD_ORDERROW": {
            "put": {
                "summary": "AddOrderRow",
                "description": "AddOrderRow",
                "operationId": "put-addorederrow",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request Payload",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddOrderRow_Request"
                            },
                            "example": {
                                "i_n_loadid": "string",
                                "i_n_loadid_ext_ref": "string",
                                "i_n_orderno": "string",
                                "i_n_orderrow": "string",
                                "i_n_orderno_ext_ref": "string",
                                "i_n_orderrow_ext_ref": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Generic_Response"
                                },
                                "example": {
                                    "o_v_message": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        },
        "/ADD_TANK": {
            "put": {
                "summary": "AddTank",
                "description": "AddTank",
                "operationId": "put-addtanks",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "description": "Token provided by Harry for every vendor",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddTank_Request"
                            },
                            "example": {
                                "i_n_stnno": "string",
                                "i_n_loadid": "string",
                                "i_d_latest_level": "string",
                                "i_n_latest_stock": "string",
                                "i_n_security_vol": "string",
                                "i_n_delpoint": "string",
                                "i_n_tank_no": "string",
                                "i_n_prodno": "string",
                                "i_n_forecast": "string",
                                "i_n_qty": "string",
                                "i_n_orderno_ext_ref": "string",
                                "i_n_orderrow_ext_ref": "string",
                                "i_n_loadid_ext_ref": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AddTank_Response"
                                },
                                "example": {
                                    "o_n_orderno": "string",
                                    "o_n_orderrow": "string",
                                    "o_v_message": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "text/html; charset=UTF-8": {}
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetLocations_Response": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "required": [
                                "loc",
                                "locname",
                                "akarid"
                            ],
                            "type": "object",
                            "properties": {
                                "loc": {
                                    "type": "integer"
                                },
                                "locname": {
                                    "type": "string"
                                },
                                "akarid": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "example": {
                    "items": [
                        {
                            "loc": 0,
                            "locname": "string",
                            "akarid": 0
                        }
                    ]
                }
            },
            "CreateLoad_Response": {
                "type": "object",
                "properties": {
                    "o_n_loadid": {
                        "type": "string"
                    },
                    "o_n_loadno": {
                        "type": "string"
                    },
                    "o_v_message": {
                        "type": "string"
                    }
                },
                "example": {
                    "o_n_loadid": "string",
                    "o_n_loadno": "string",
                    "o_v_message": "string"
                }
            },
            "Generic_Response": {
                "type": "object",
                "properties": {
                    "o_v_message": {
                        "type": "string"
                    }
                },
                "example": {
                    "o_v_message": "string"
                }
            },
            "ReportStatus_Request": {
                "type": "object",
                "properties": {
                    "i_n_delpoint": {
                        "type": "string"
                    },
                    "i_n_orderno": {
                        "type": "string"
                    },
                    "i_n_orderrow": {
                        "type": "string"
                    },
                    "i_n_orderno_ext_ref": {
                        "type": "string"
                    },
                    "i_n_orderrow_ext_ref": {
                        "type": "string"
                    },
                    "i_d_eta": {
                        "type": "string"
                    },
                    "i_n_prodno": {
                        "type": "string"
                    },
                    "i_n_qty": {
                        "type": "string"
                    },
                    "i_n_status": {
                        "type": "string"
                    },
                    "i_n_reason_code": {
                        "type": "string"
                    },
                    "i_v_reason_text": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_delpoint": "string",
                    "i_n_orderno": "string",
                    "i_n_orderrow": "string",
                    "i_n_orderno_ext_ref": "string",
                    "i_n_orderrow_ext_ref": "string",
                    "i_d_eta": "string",
                    "i_n_prodno": "string",
                    "i_n_qty": "string",
                    "i_n_status": "string",
                    "i_n_reason_code": "string",
                    "i_v_reason_text": "string"
                }
            },
            "AddOrderRow_Request": {
                "type": "object",
                "properties": {
                    "i_n_loadid": {
                        "type": "string"
                    },
                    "i_n_loadid_ext_ref": {
                        "type": "string"
                    },
                    "i_n_orderno": {
                        "type": "string"
                    },
                    "i_n_orderrow": {
                        "type": "string"
                    },
                    "i_n_orderno_ext_ref": {
                        "type": "string"
                    },
                    "i_n_orderrow_ext_ref": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_loadid": "string",
                    "i_n_loadid_ext_ref": "string",
                    "i_n_orderno": "string",
                    "i_n_orderrow": "string",
                    "i_n_orderno_ext_ref": "string",
                    "i_n_orderrow_ext_ref": "string"
                }
            },
            "AddTank_Request": {
                "type": "object",
                "properties": {
                    "i_n_stnno": {
                        "type": "string"
                    },
                    "i_n_loadid": {
                        "type": "string"
                    },
                    "i_d_latest_level": {
                        "type": "string"
                    },
                    "i_n_latest_stock": {
                        "type": "string"
                    },
                    "i_n_security_vol": {
                        "type": "string"
                    },
                    "i_n_delpoint": {
                        "type": "string"
                    },
                    "i_n_tank_no": {
                        "type": "string"
                    },
                    "i_n_prodno": {
                        "type": "string"
                    },
                    "i_n_forecast": {
                        "type": "string"
                    },
                    "i_n_qty": {
                        "type": "string"
                    },
                    "i_n_orderno_ext_ref": {
                        "type": "string"
                    },
                    "i_n_orderrow_ext_ref": {
                        "type": "string"
                    },
                    "i_n_loadid_ext_ref": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_stnno": "string",
                    "i_n_loadid": "string",
                    "i_d_latest_level": "string",
                    "i_n_latest_stock": "string",
                    "i_n_security_vol": "string",
                    "i_n_delpoint": "string",
                    "i_n_tank_no": "string",
                    "i_n_prodno": "string",
                    "i_n_forecast": "string",
                    "i_n_qty": "string",
                    "i_n_orderno_ext_ref": "string",
                    "i_n_orderrow_ext_ref": "string",
                    "i_n_loadid_ext_ref": "string"
                }
            },
            "AddTank_Response": {
                "type": "object",
                "properties": {
                    "o_n_orderno": {
                        "type": "string"
                    },
                    "o_n_orderrow": {
                        "type": "string"
                    },
                    "o_v_message": {
                        "type": "string"
                    }
                },
                "example": {
                    "o_n_orderno": "string",
                    "o_n_orderrow": "string",
                    "o_v_message": "string"
                }
            },
            "CancelLoad_Request": {
                "type": "object",
                "properties": {
                    "i_n_loadid": {
                        "type": "string"
                    },
                    "i_n_loadid_ext_ref": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_loadid": "string",
                    "i_n_loadid_ext_ref": "string"
                }
            },
            "CreateLoad_Request": {
                "type": "object",
                "properties": {
                    "i_n_truck": {
                        "type": "string"
                    },
                    "i_n_trailer": {
                        "type": "string"
                    },
                    "i_d_del_date": {
                        "type": "string"
                    },
                    "i_n_loc": {
                        "type": "string"
                    },
                    "i_n_loadid_ext_ref": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_truck": "string",
                    "i_n_trailer": "string",
                    "i_d_del_date": "string",
                    "i_n_loc": "string",
                    "i_n_loadid_ext_ref": "string"
                }
            },
            "ImportDeflection_Request": {
                "type": "object",
                "properties": {
                    "i_n_delpoint": {
                        "type": "string"
                    },
                    "i_d_delivery_date": {
                        "type": "string"
                    },
                    "i_v_descr": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_delpoint": "string",
                    "i_d_delivery_date": "string",
                    "i_v_descr": "string"
                }
            },
            "ImportDeliveryResult_Request": {
                "type": "object",
                "properties": {
                    "i_n_OrderNumber": {
                        "type": "string"
                    },
                    "i_n_OrderRow": {
                        "type": "string"
                    },
                    "i_n_StockProductNumber": {
                        "type": "string"
                    },
                    "i_n_DeliveredQuantity": {
                        "type": "string"
                    },
                    "i_v_OverflowIn": {
                        "type": "string"
                    },
                    "i_n_Location": {
                        "type": "string"
                    },
                    "i_d_DeliveryDate": {
                        "type": "string"
                    },
                    "i_n_CustomerNumber": {
                        "type": "string"
                    },
                    "i_n_TruckNumber": {
                        "type": "string"
                    },
                    "i_n_TourNumber": {
                        "type": "string"
                    },
                    "i_n_ShipmentNumber": {
                        "type": "string"
                    },
                    "i_n_NewShipmentNumber": {
                        "type": "string"
                    },
                    "i_d_DeliveredDate": {
                        "type": "string"
                    },
                    "i_n_Quantity": {
                        "type": "string"
                    },
                    "i_v_NewOrder": {
                        "type": "string"
                    },
                    "i_v_OrderType": {
                        "type": "string"
                    },
                    "i_v_ProductType": {
                        "type": "string"
                    },
                    "i_n_Latitude": {
                        "type": "string"
                    },
                    "i_n_Longitude": {
                        "type": "string"
                    },
                    "i_v_OrderStatus": {
                        "type": "string"
                    },
                    "i_v_TankNumber": {
                        "type": "string"
                    },
                    "i_v_LocationType": {
                        "type": "string"
                    },
                    "i_n_orderno_ext_ref": {
                        "type": "string"
                    },
                    "i_n_orderrow_ext_ref": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_OrderNumber": "string",
                    "i_n_OrderRow": "string",
                    "i_n_StockProductNumber": "string",
                    "i_n_DeliveredQuantity": "string",
                    "i_v_OverflowIn": "string",
                    "i_n_Location": "string",
                    "i_d_DeliveryDate": "string",
                    "i_n_CustomerNumber": "string",
                    "i_n_TruckNumber": "string",
                    "i_n_TourNumber": "string",
                    "i_n_ShipmentNumber": "string",
                    "i_n_NewShipmentNumber": "string",
                    "i_d_DeliveredDate": "string",
                    "i_n_Quantity": "string",
                    "i_v_NewOrder": "string",
                    "i_v_OrderType": "string",
                    "i_v_ProductType": "string",
                    "i_n_Latitude": "string",
                    "i_n_Longitude": "string",
                    "i_v_OrderStatus": "string",
                    "i_v_TankNumber": "string",
                    "i_v_LocationType": "string",
                    "i_n_orderno_ext_ref": "string",
                    "i_n_orderrow_ext_ref": "string"
                }
            },
            "DeleteRow_Request": {
                "type": "object",
                "properties": {
                    "i_n_loadid": {
                        "type": "string"
                    },
                    "i_n_orderno": {
                        "type": "string"
                    },
                    "i_n_orderrow": {
                        "type": "string"
                    },
                    "i_n_orderno_ext_ref": {
                        "type": "string"
                    },
                    "i_n_orderrow_ext_ref": {
                        "type": "string"
                    },
                    "i_n_loadid_ext_ref": {
                        "type": "string"
                    }
                },
                "example": {
                    "i_n_loadid": "string",
                    "i_n_orderno": "string",
                    "i_n_orderrow": "string",
                    "i_n_orderno_ext_ref": "string",
                    "i_n_orderrow_ext_ref": "string",
                    "i_n_loadid_ext_ref": "string"
                }
            },
            "GetOrderRow_Response": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "required": [
                                "orderno",
                                "name",
                                "street",
                                "city",
                                "zipcode",
                                "country",
                                "phone",
                                "del_instr1",
                                "route",
                                "plan_deldate",
                                "plan_deldate2",
                                "orderrow",
                                "prodno",
                                "articlename",
                                "qty",
                                "qty_unit",
                                "prod",
                                "delpoint",
                                "tank_no",
                                "akarid",
                                "zone",
                                "line_reason",
                                "tank_capacity"
                            ],
                            "type": "object",
                            "properties": {
                                "orderno": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "street": {
                                    "type": "string"
                                },
                                "city": {
                                    "type": "string"
                                },
                                "zipcode": {
                                    "type": "string"
                                },
                                "country": {
                                    "type": "string"
                                },
                                "phone": {
                                    "type": "string"
                                },
                                "del_instr1": {
                                    "type": "string"
                                },
                                "del_instr2": {
                                    "type": "string"
                                },
                                "route": {
                                    "type": "string"
                                },
                                "plan_deldate": {
                                    "type": "string"
                                },
                                "plan_deldate2": {
                                    "type": "string"
                                },
                                "orderrow": {
                                    "type": "integer"
                                },
                                "prodno": {
                                    "type": "integer"
                                },
                                "articlename": {
                                    "type": "string"
                                },
                                "qty": {
                                    "type": "integer"
                                },
                                "qty_unit": {
                                    "type": "integer"
                                },
                                "prod": {
                                    "type": "string"
                                },
                                "delpoint": {
                                    "type": "integer"
                                },
                                "tank_no": {
                                    "type": "integer"
                                },
                                "akarid": {
                                    "type": "integer"
                                },
                                "zone": {
                                    "type": "integer"
                                },
                                "line_reason": {
                                    "type": "string"
                                },
                                "tank_capacity": {
                                    "type": "integer"
                                },
                                "latitude": {
                                    "type": "number"
                                },
                                "longitude": {
                                    "type": "number"
                                }
                            }
                        }
                    }
                },
                "example": {
                    "items": [
                        {
                            "orderno": 95898842,
                            "name": "BEFOX",
                            "street": "STATIONSGATAN 31",
                            "city": "HALMSTAD",
                            "zipcode": "30250",
                            "country": "SE",
                            "phone": "0705-141456",
                            "del_instr1": "KOD TILL TANKEN ÄR 9845. TODOKOPPLING 2-TUMS.",
                            "del_instr2": "SE VÄGBESKRIVNING FÖR LEV-INSTRUKTION.",
                            "route": "Efter lev ska man ange volym och tanknummer i kundens dator som finns sidan om intaget. Man använder nyckeln som finns vid intaget och placerar den på datorn. Ange tankens nummer (Diesel färg tank 1) och tryck enter. Skriv in levererad volym och tryck enter.",
                            "plan_deldate": "2021-01-11",
                            "plan_deldate2": "2021-01-15",
                            "orderrow": 1,
                            "prodno": 219932,
                            "articlename": "DIESEL MK I FÄRGAD",
                            "qty": 4000,
                            "qty_unit": 0,
                            "prod": "DF1",
                            "delpoint": 1003000773,
                            "tank_no": 1,
                            "akarid": 205,
                            "zone": 28,
                            "line_reason": "N",
                            "tank_capacity": 9800
                        },
                        {
                            "orderno": 95898841,
                            "name": "BERTSHULTS BYGG & TRÄ AB",
                            "street": "BERTSHULT 120",
                            "city": "LANDVETTER",
                            "zipcode": "43893",
                            "country": "SE",
                            "latitude": 57.62785,
                            "longitude": 12.32612,
                            "phone": "0708-202614",
                            "del_instr1": "SE VÄGBESK",
                            "route": "I LANDVETTER ÖSTRA SVÄNGER MAN AV, HÖG, ÅK 9 KM,I T-KORS TA VÄNSTER.ÅK 3,2 KM. VID BUSSHÅLLSPLATS BERTSHULT NORRA SVÄNGER MAN IN.",
                            "plan_deldate": "2021-01-11",
                            "plan_deldate2": "2021-01-15",
                            "orderrow": 1,
                            "prodno": 220101,
                            "articlename": "GoEasy DIESEL",
                            "qty": 4000,
                            "qty_unit": 0,
                            "prod": "DBBIO+ P",
                            "delpoint": 1000798726,
                            "tank_no": 1,
                            "akarid": 205,
                            "zone": 25,
                            "line_reason": "N",
                            "tank_capacity": 5000
                        }
                    ]
                }
            },
            "GetTrailers_Response": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "required": [
                                "bil",
                                "loc",
                                "biltyp",
                                "bilregnr",
                                "antalfack",
                                "volym1",
                                "volym2",
                                "volym3",
                                "volym4",
                                "volym5",
                                "bilagare",
                                "fysisk_loc",
                                "pump_finns",
                                "samlastar",
                                "skicka_t_top",
                                "maxlast",
                                "akarid",
                                "prio1",
                                "prio2",
                                "prio3",
                                "prio4",
                                "prio5"
                            ],
                            "type": "object",
                            "properties": {
                                "bil": {
                                    "type": "integer"
                                },
                                "loc": {
                                    "type": "integer"
                                },
                                "biltyp": {
                                    "type": "string"
                                },
                                "bilregnr": {
                                    "type": "string"
                                },
                                "antalfack": {
                                    "type": "integer"
                                },
                                "volym1": {
                                    "type": "integer"
                                },
                                "begrbenvol1": {
                                    "type": "integer"
                                },
                                "begrovrvol1": {
                                    "type": "integer"
                                },
                                "volym2": {
                                    "type": "integer"
                                },
                                "begrbenvol2": {
                                    "type": "integer"
                                },
                                "begrovrvol2": {
                                    "type": "integer"
                                },
                                "volym3": {
                                    "type": "integer"
                                },
                                "begrbenvol3": {
                                    "type": "integer"
                                },
                                "begrovrvol3": {
                                    "type": "integer"
                                },
                                "volym4": {
                                    "type": "integer"
                                },
                                "begrbenvol4": {
                                    "type": "integer"
                                },
                                "begrovrvol4": {
                                    "type": "integer"
                                },
                                "volym5": {
                                    "type": "integer"
                                },
                                "begrbenvol5": {
                                    "type": "integer"
                                },
                                "begrovrvol5": {
                                    "type": "integer"
                                },
                                "bilagare": {
                                    "type": "string"
                                },
                                "fysisk_loc": {
                                    "type": "integer"
                                },
                                "userid": {
                                    "type": "string"
                                },
                                "last_update": {
                                    "type": "string"
                                },
                                "pump_finns": {
                                    "type": "string"
                                },
                                "antal_matare": {
                                    "type": "integer"
                                },
                                "samlastar": {
                                    "type": "string"
                                },
                                "samlastar_etanol": {
                                    "type": "string"
                                },
                                "skicka_t_top": {
                                    "type": "string"
                                },
                                "maxlast": {
                                    "type": "integer"
                                },
                                "akarid": {
                                    "type": "integer"
                                },
                                "prio1": {
                                    "type": "integer"
                                },
                                "prio2": {
                                    "type": "integer"
                                },
                                "prio3": {
                                    "type": "integer"
                                },
                                "prio4": {
                                    "type": "integer"
                                },
                                "prio5": {
                                    "type": "integer"
                                },
                                "volym6": {
                                    "type": "integer"
                                },
                                "prio6": {
                                    "type": "integer"
                                },
                                "matsystem": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "example": {
                    "items": [
                        {
                            "bil": 1960,
                            "loc": 2610,
                            "biltyp": "S",
                            "bilregnr": "CLJ530",
                            "antalfack": 5,
                            "volym1": 8000,
                            "begrbenvol1": 8000,
                            "begrovrvol1": 8000,
                            "volym2": 12000,
                            "begrbenvol2": 12000,
                            "begrovrvol2": 12000,
                            "volym3": 6000,
                            "begrbenvol3": 4000,
                            "begrovrvol3": 1300,
                            "volym4": 6000,
                            "begrbenvol4": 6000,
                            "begrovrvol4": 6000,
                            "volym5": 6000,
                            "begrbenvol5": 6000,
                            "begrovrvol5": 6000,
                            "bilagare": "L",
                            "fysisk_loc": 2611,
                            "userid": "INEN",
                            "last_update": "2016-03-21T14:08:47Z",
                            "pump_finns": "N",
                            "antal_matare": 1,
                            "samlastar": "N",
                            "samlastar_etanol": "N",
                            "skicka_t_top": "J",
                            "maxlast": 29180,
                            "akarid": 205,
                            "prio1": 1,
                            "prio2": 3,
                            "prio3": 5,
                            "prio4": 4,
                            "prio5": 2
                        },
                        {
                            "bil": 1962,
                            "loc": 2410,
                            "biltyp": "S",
                            "bilregnr": "TSM520",
                            "antalfack": 5,
                            "volym1": 9000,
                            "volym2": 7000,
                            "volym3": 6000,
                            "volym4": 7000,
                            "volym5": 9000,
                            "bilagare": "L",
                            "fysisk_loc": 2415,
                            "userid": "JATM",
                            "last_update": "2019-02-28T13:02:32Z",
                            "pump_finns": "N",
                            "antal_matare": 1,
                            "samlastar": "N",
                            "samlastar_etanol": "N",
                            "skicka_t_top": "J",
                            "maxlast": 27720,
                            "akarid": 205,
                            "prio1": 1,
                            "prio2": 3,
                            "prio3": 5,
                            "prio4": 4,
                            "prio5": 2
                        }
                    ]
                }
            },
            "GetTruck_Response": {
                "type": "object",
                "properties": {
                    "items": {
                        "type": "array",
                        "items": {
                            "required": [
                                "bil",
                                "loc",
                                "biltyp",
                                "bilregnr",
                                "antalfack",
                                "volym1",
                                "volym2",
                                "volym3",
                                "bilagare",
                                "fysisk_loc",
                                "userid",
                                "last_update",
                                "pump_finns",
                                "samlastar",
                                "samlastar_etanol",
                                "skicka_t_top",
                                "maxlast",
                                "akarid",
                                "prio1",
                                "prio2",
                                "prio3"
                            ],
                            "type": "object",
                            "properties": {
                                "bil": {
                                    "type": "integer"
                                },
                                "loc": {
                                    "type": "integer"
                                },
                                "biltyp": {
                                    "type": "string"
                                },
                                "slapnr": {
                                    "type": "integer"
                                },
                                "bilregnr": {
                                    "type": "string"
                                },
                                "antalfack": {
                                    "type": "integer"
                                },
                                "volym1": {
                                    "type": "integer"
                                },
                                "volym2": {
                                    "type": "integer"
                                },
                                "volym3": {
                                    "type": "integer"
                                },
                                "bilagare": {
                                    "type": "string"
                                },
                                "fysisk_loc": {
                                    "type": "integer"
                                },
                                "userid": {
                                    "type": "string"
                                },
                                "last_update": {
                                    "type": "string"
                                },
                                "pump_finns": {
                                    "type": "string"
                                },
                                "antal_matare": {
                                    "type": "integer"
                                },
                                "samlastar": {
                                    "type": "string"
                                },
                                "samlastar_etanol": {
                                    "type": "string"
                                },
                                "skicka_t_top": {
                                    "type": "string"
                                },
                                "maxlast": {
                                    "type": "integer"
                                },
                                "akarid": {
                                    "type": "integer"
                                },
                                "prio1": {
                                    "type": "integer"
                                },
                                "prio2": {
                                    "type": "integer"
                                },
                                "prio3": {
                                    "type": "integer"
                                },
                                "volym4": {
                                    "type": "integer"
                                },
                                "volym5": {
                                    "type": "integer"
                                },
                                "volym6": {
                                    "type": "integer"
[...]
